@import "_variables";
@import "_fonts";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: Neucha, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  padding: 82px 0 39px;
  min-height: 100vh;
  min-width: 320px;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
}

.title {
  position: relative;
  margin-top: 100px;
  color: $brown;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -18px;
    width: 10px;
    height: 10px;
    background-image: url("~/assets/images/ellipse-title.svg");
    transform: translateY(-50%);
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 150px;
    width: 10px;
    height: 10px;
    background-image: url("~/assets/images/ellipse-title.svg");
    transform: translateY(-50%);
  }
}

a {
  text-decoration: none;
  &:hover &:visited {
    text-decoration: none;
  }
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  font-family: Neucha;
  cursor: pointer;
}

p,
h1 {
  margin: 0;
}
